<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

### DO NOT APPLY RULES WHEN REQUESTING "favicon.ico"
RewriteCond %{REQUEST_FILENAME} favicon.ico [NC]
RewriteRule .* - [S=14] 


### DO NOT APPLY RULES WHEN REQUESTING "favicon.ico"
RewriteCond %{REQUEST_FILENAME} favicon.ico [NC,OR]
RewriteCond %{REQUEST_URI} ^/js/ [NC,OR]
RewriteCond %{REQUEST_URI} ^/css/ [NC]
RewriteRule .* - [S=14] 


### CHECK FOR TRAILING SLASH - Will ignore files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [L,R=301]

### Rewrite paths to files to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\/$ /index.php?path=$1&%{QUERY_STRING} [L]

</IfModule>

DirectoryIndex index.php
IndexIgnore *
