body
	{background:#262629;}
td, div, p
	{font-size:11px}

h1
	{font-size:14px}
body *
	{font-family:Sans-Serif;}

td    {vertical-align:top;}

canvas
	{}
	
#floater
	{position:absolute;background:#202020;opacity:0.9;-moz-border-radius:3px;border-radius:3px;border:1px solid #444; border-color: #343438 #3a3a3d #3a3a3d #343438}
	
#floater:hover em{color: white}

#pause-msg, #gameover-msg
	{margin-top:18px;font-size:26px;color:#BFFFFF;font-weight:bold}
	
#runit
	{border:1px solid  #444; border-color: #343438 #3a3a3d #3a3a3d #343438;background:#2a2a2d;color:white;padding:3px 10px;margin-top:25px;font-size:20px;font-weight:bold;border-radius:3px;-moz-border-radius:3px;}

*
	{color:#bcbcc8;font-family:Arial;}

h1, a
	{color:#d0d0d5}

em
	{color:#d0d0d5}

em, a
	{font-style:normal;font-weight:bold;}

a	{text-decoration:none;border-bottom: 1px solid}
a:hover	{text-decoration:underline;border:none}

#desc:hover * {color:#a0a0a2}
#desc p:hover * {color:white}
#desc p:hover {color:#e0e0e5}

#scores-local
	{width:100%}

#scores-local td
	{background:#333;padding-left:1.5ex;margin:.3ex 0}

#scores-local tr:hover
	{color:#eee;}
#scores-local td:hover
	{color:#fff;}

form	{margin:0}
#scores-local .score	{text-align:right;padding-left: 0;padding-right: 1.5ex}
#user-name{border:none;background:transparent}

.meters	{font-family:impact; width: 6ex; float: right; clear: right; text-align: right; margin-right: -.5ex; letter-spacing:.1ex}

#t-s	{color:rgb(150,224,89)}
#t-b	{color:rgb(255,220,29); opacity: 0}
#t-b:before{content: '+'}
#t-d	{color:rgb( 75,193,213)}
