#colors {
    font-size: 170%;
    float: left;
    width: 3.6em;
}

.color-control {
    text-decoration: none;
    height: 2.2em;
    width: 2.1em;
    display: inline-block;
    padding-left: .2em;
    padding-top: .1em;
    color: #484848;
    font-family: Tahoma, sans-serif;
    border: .15em solid;
    margin: .3em;
    border-radius: .4em;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
}

#player, #computer, #message {
    font-size: 170%;
    color: white;
    font-weight: bold;
}

#player {
    float: left;
}

#computer {
    float: right;
}

#message {
    text-align: center;
}

.menu {
    line-height: 3em;
    text-align: right;
    margin-top: -5em;
    margin-bottom: 2em;
    padding: 0 4em;
}

.popup
{
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(38,38,38,.3);
    width:100%;
    height:100%;
}

.popup .content
{
    width: 400pt;
    padding: 11em 2em 2em 2em;
    background-color: rgba(0,0,0,.6);
    -moz-border-radius: 0 0 1em 1em;
    -webkit-border-radius: 0 0 1em 1em;
    border-radius: 0 0 2em 2em;
    -moz-box-shadow: 0 0 6em rgba(0,0,0,.8);
    box-shadow: 0 0 6em rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.15);
    border-width: 0 1px 1px 1px;
}

.popup .message b
{
    color:white;
    font-family:monospace;
}

.popup .title
{
    font-size: 130%;
    color:white;
    font-weight:bold;
    margin-bottom: 1em;
}

.popup .cancel
{
    text-align:right;
}
