body
	{background:#262629;font:14px/20px Arial,sans-serif;color:#fafaff;padding:2ex;width:100ex;margin:auto}

p	{color:#e6e6ee}

em	{color:#fafaff}

a	{color:#87ceeb;text-decoration:none;border-bottom:1px solid;}
a:visited{color:#6495ed}
a:active, a:hover
	{color:#ffd712;text-decoration:underline;border:none}

h1	{font-weight:bold}

ul#menu
	{width: 100%; margin: -1.8ex -2ex 0;background: #fafae0; }

ul#menu a
	{font-weight:bold; text-decoration: none; border: none; color: #222;}
	
ul#menu a:hover
	{color: #774}	

ul#menu li
	{display:inline; padding: 1px 2ex}
	