
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name='abu')
CREATE LOGIN [abu] -- a.k.a. Asset Bank User
	WITH 
		PASSWORD=N'AssetBankUser2009', 
		DEFAULT_DATABASE=[ABDB_TEST2], 
		DEFAULT_LANGUAGE=[us_english], 
		CHECK_EXPIRATION=ON, 
		CHECK_POLICY=ON
GO
IF EXISTS (SELECT * FROM sysusers WHERE name='abu')
DROP USER [abu]
GO
CREATE USER [abu]
	FOR LOGIN [abu] 
	WITH DEFAULT_SCHEMA=[db_datareader]
GO
EXEC sp_addrolemember 'db_datareader', 'abu'
GO
EXEC sp_addrolemember 'db_datawriter', 'abu'
GO
EXEC sp_change_users_login 'Update_One','abu','abu'
GO
EXEC sp_changedbowner 'sa'
GO
GRANT EXECUTE ON [dbo].[SP_BACKUP_BLOCK] TO [abu]
GRANT EXECUTE ON dbo.SP_BACKUP_COMPANY TO [abu]
GRANT EXECUTE ON dbo.SP_BACKUP_COMPLEX TO [abu]
GRANT EXECUTE ON dbo.SP_BACKUP_FIELD TO [abu]
GRANT EXECUTE ON dbo.SP_BACKUP_GLOBALS TO [abu]
GRANT EXECUTE ON dbo.SP_BACKUP_TAXSYSTEM TO [abu]
GRANT EXECUTE ON dbo.SP_CLONE_BLOCK TO [abu]
GRANT EXECUTE ON dbo.SP_CLONE_COMPANY TO [abu]
GRANT EXECUTE ON dbo.SP_CLONE_COMPLEX TO [abu]
GRANT EXECUTE ON dbo.SP_CLONE_FIELD TO [abu]
GRANT EXECUTE ON dbo.SP_CLONE_TAXSYSTEM TO [abu]
GRANT EXECUTE ON dbo.SP_CREATE_SHADOW_TABLE TO [abu]
GRANT EXECUTE ON dbo.SP_DELETE_BLOCK TO [abu]
GRANT EXECUTE ON dbo.SP_DELETE_COMPLEX TO [abu]
GRANT EXECUTE ON dbo.SP_DELETE_FIELD TO [abu]
GRANT EXECUTE ON dbo.SP_DELETE_GLOBALS TO [abu]
GRANT EXECUTE ON dbo.sp_GenerateNumericIdentity TO [abu]
GRANT EXECUTE ON dbo.SP_RESTORE_BLOCK TO [abu]
GRANT EXECUTE ON dbo.SP_RESTORE_COMPANY TO [abu]
GRANT EXECUTE ON dbo.SP_RESTORE_COMPLEX TO [abu]
GRANT EXECUTE ON dbo.SP_RESTORE_FIELD TO [abu]
GRANT EXECUTE ON dbo.SP_RESTORE_GLOBALS TO [abu]
GRANT EXECUTE ON dbo.SP_RESTORE_TAXSYSTEM TO [abu]
GO