--
-- Create tables to save tax calculation detailed data
--
USE [ABDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[POST_TAX_DETAIL_CASH_FLOW_DATA]')
AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
DROP TABLE [dbo].[POST_TAX_DETAIL_CASH_FLOW_DATA]
GO
--
-- PT_DETAIL_CASH_FLOW_GROUP
-- 
IF NOT EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[PT_DETAIL_CASH_FLOW_GROUP]')
AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE [dbo].[PT_DETAIL_CASH_FLOW_GROUP](
	[TAX_NODE_ID] [decimal](12, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_GROUP_ID] [decimal](18, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_GROUP_NAME] [nvarchar](200) COLLATE Latin1_General_CI_AS NOT NULL,
	[COLORCODE] [int] NULL,
 CONSTRAINT [PK_PT_DETAIL_CASH_FLOW_GROUP] PRIMARY KEY CLUSTERED 
(
	[PT_DETAIL_CASH_FLOW_GROUP_ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [ABDB]
GO
IF NOT EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[FK_PT_DETAIL_CASH_FLOW_GROUP_TAX_NODE]')
AND OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[PT_DETAIL_CASH_FLOW_GROUP]  WITH CHECK ADD  CONSTRAINT [FK_PT_DETAIL_CASH_FLOW_GROUP_TAX_NODE] FOREIGN KEY([TAX_NODE_ID])
REFERENCES [dbo].[TAX_NODE] ([TAX_NODE_ID])
GO
--
-- PT_DETAIL_CASH_FLOW_TIMESERIES
--

IF NOT EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[PT_DETAIL_CASH_FLOW_TIMESERIES]')
AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE [dbo].[PT_DETAIL_CASH_FLOW_TIMESERIES](
	[TAX_NODE_ID] [decimal](18, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_GROUP_ID] [decimal](18, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_TIMESERIES_ID] [decimal](18, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_TIMESERIES_CAN_TOTAL] [tinyint] NOT NULL DEFAULT 0,
	[PT_DETAIL_CASH_FLOW_TIMESERIES_NAME] [nvarchar](200) COLLATE Latin1_General_CI_AS NOT NULL,
	[PT_DETAIL_CASH_FLOW_TIMESERIES_UNIT] [nvarchar](20) COLLATE Latin1_General_CI_AS NULL,
	[COLORCODE] [int] NULL,
 CONSTRAINT [PK_PT_DETAIL_CASH_FLOW_TIMESERIES] PRIMARY KEY CLUSTERED 
(
	[PT_DETAIL_CASH_FLOW_TIMESERIES_ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
IF NOT EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[FK_PT_DETAIL_CASH_FLOW_TIMESERIES_TAX_NODE_ID]')
AND OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[PT_DETAIL_CASH_FLOW_TIMESERIES]  WITH CHECK ADD  CONSTRAINT [FK_PT_DETAIL_CASH_FLOW_TIMESERIES_TAX_NODE_ID] FOREIGN KEY([TAX_NODE_ID])
REFERENCES [dbo].[TAX_NODE] ([TAX_NODE_ID])
GO
--
-- PT_DETAIL_CASH_FLOW_DATA
--
IF NOT EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[PT_DETAIL_CASH_FLOW_DATA]')
AND OBJECTPROPERTY(id, N'IsUserTable') = 1)
CREATE TABLE [dbo].[PT_DETAIL_CASH_FLOW_DATA](
	[TAX_NODE_ID] [decimal](18, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_TIMESERIES_ID] [decimal](18, 0) NOT NULL,
	[PT_DETAIL_CASH_FLOW_DATA_YEAR] [smallint] NOT NULL,
	[PT_DETAIL_CASH_FLOW_DATA_VALUE] [decimal](11, 2) NOT NULL,
 CONSTRAINT [PK_PT_DETAIL_CASH_FLOW_DATA] PRIMARY KEY CLUSTERED 
(
	[PT_DETAIL_CASH_FLOW_TIMESERIES_ID] ASC,
	[PT_DETAIL_CASH_FLOW_DATA_YEAR] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [ABDB]
GO
IF NOT EXISTS (SELECT name FROM sysobjects WHERE id = object_id(N'[dbo].[FK_PT_DETAIL_CASH_FLOW_DATA_TAX_NODE]')
AND OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[PT_DETAIL_CASH_FLOW_DATA]  WITH CHECK ADD  CONSTRAINT [FK_PT_DETAIL_CASH_FLOW_DATA_TAX_NODE] FOREIGN KEY([TAX_NODE_ID])
REFERENCES [dbo].[TAX_NODE] ([TAX_NODE_ID])